ul{
    background-color: blueviolet;
    padding: 10px;
}

ul li {
    background-color: black;
    list-style-type: circle;
}


/* DISPLAY */

li {
    display:inline
}


a{
    display:block
}

h1.hidden {
    display: none;

}

/* FLEXBOX */

.flex-container {
  display: flex;
  background-color: DodgerBlue;
}
.row{
    flex-direction: row;
}
.column{
    flex-direction: column;
}
.row-reverse{
    flex-direction: row-reverse;
}
.column-reverse{
    flex-direction: column-reverse;
}
.wrap{
    flex-wrap: wrap;
}
.nowrap{
    flex-wrap: nowrap;
}

.flex-container > div {
  background-color: white;
  margin: 10px;
  padding: 20px;
  font-size: 30px;
}